.js-greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.js-greeting__innerBox{
    width: 300px;
    height: 300px;
    background-color: white;

}
.js-greeting__innerBox form{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}
.js-greeting__innerBox input{
    text-align: center;
    border: none;
    background: transparent;
    font-size: 30px;
    padding: 10px 0px;
    color: rgba(0,0,0,0.5);
    transition: all 1s ease-in-out;
}
.js-greeting__innerBox input:focus{
    outline: none;
    border-bottom: 2px solid rgba(0,0,0,0.4);
}
.js-greeting__innerBox input::placeholder{
    color: rgba(0,0,0,0.3);
}
.js-greeting__innerBox p {
    font-weight: 700;
    font-size: 48px;
    margin-top: 80px;
}

.savedUser{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: flex-start;
    font-size: 90px;
    font-weight: 700;
}
.hello{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: flex-start;
    font-size: 90px;
    font-weight: 700;
    
}
.hello p {
    transition: all 1s ease-out;
}
.dot {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: -60px;
    left: -30px;
}
.dot1{
    background-color: var(--main--blue);
    visibility: hidden;
}
.dot2{
    background-color: var(--main--red);
    visibility: hidden;
}
.dot3{
    background-color: var(--main--yellow);
    visibility: hidden;
}
.dot4{
    background-color: var(--main--green);
    visibility: hidden;
}
.dot5{
    background-color: var(--main--red);
    visibility: hidden;
}
.dot6{
    background-color: var(--main--blue);
    visibility: hidden;
}


@keyframes dotMovement{
    0%{
        visibility: hidden;
        transform: translateY(0px);
    }
    50%{
        visibility: visible;
        transform: translateY(-30px);
    }
    100%{
        visibility: visible;
        transform: translateY(20px);
    }

}
#first:hover{
    color:var(--main--blue);
}
#first:hover ~ .dot1{
    animation: dotMovement 1s ease-in-out forwards;
}
#second:hover{
    color:var(--main--red);
}
#second:hover ~ .dot2{
    animation: dotMovement 1s ease-in-out forwards;
}
#third:hover{
    color:var(--main--yellow);
}
#third:hover ~ .dot3{
    animation: dotMovement 1s ease-in-out forwards;
}
#forth:hover{
    color:var(--main--green);
}
#forth:hover ~ .dot4{
    animation: dotMovement 1s ease-in-out forwards;
}
#fifth:hover{
    color:var(--main--red);
}
#fifth:hover ~ .dot5{
    animation: dotMovement 1s ease-in-out forwards;
}
#sixth:hover{
    color:var(--main--blue);
}
#sixth:hover ~ .dot6{
    animation: dotMovement 1s ease-in-out forwards;
}